body {
    background: #fff;
    color: #253232;
    font-family: "Noto Serif", "Newsreader", serif;
    letter-spacing: -0.2px;
    width: 100vw;
    line-height: 1.7em;
    margin: 80px 0 0;
}

header {
    color: #385191;
    background:  #fff; 
    width: 100vw;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    z-index: 30;
    height: 90px;
    padding: 5px;
    margin: 0;
    box-shadow: 0px 0px 8px 2px rgb(255 226 161 / 40%); 
    position: fixed;
    top: 0;
}

.tagline {
    width: 400px;
    display: inline-block;
    position: absolute;
    right: 34px;
    top: 52px;
}

#hamburger-menu {
    display: none;
    margin-left: 10px;
}

#hamburger-menu > img {
    width: 30px;
}

.shrunk {
    height: 43px;
}

.shrunk img {
    margin-left: 41px;
}

#wistaf-logo {
    float: left;
    position: relative;
    content: url("img/wistaf-logo-horiz.jpg");
    max-height: 90px;
    transition: all 0.1s;
}

.full-size {
    max-height: 90px;
    margin-left: 28px;
}

.minimized {
    display: none;
}

nav {
    font-family: "Noto Serif", "Kanit", serif;
    list-style-type: none;
    padding: 0;
    margin: 7px 0;
    line-height: 1;
}

nav li {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.0rem;
    font-weight: 600;
}

nav li::before {
    content: none;  /* Override other ul settings */
    width: auto; /* Also needed for space  */
    margin-left: auto; /* Also needed for space */
}

nav li:not(:last-child):after {
    color: lightgrey;
    content: "\a0\a0\a0\a0\a0\a0";
} 

nav li:first-of-type {
    margin-left: 8px;
}

nav a:link {
    color: #38518E;
}

nav a:hover, nav a:focus {
    box-shadow: none;
    color: #CC4C27;
    /* Zoltan, my menu code is not set up right, the way yours is on the test site, but on hover could we have the background color turn to #BFB8A9 */
}

nav a:visited {
    color: #38518E;
}

.navigation {
    display: inline-block;
}

#donate {
    display: inline-block;
    background: linear-gradient(to bottom right, #FFE2A1, #FED107, #FED107, #FFE2A1);
    border-radius: 11px;
    padding: 5px 10px 6px 10px;
    font-family: "Kanit", "Source Sans Pro";
    font-size: 1.3rem;
    margin-left: 33px;
}

#donate a {
    font-weight: 600;
}

#donate:hover, #donate:focus {
    border: 3px solid #38518E;
    padding: 3px 7px 3px;
}

#page-content-container {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
    gap: 15px;
    margin: 100px 10px 20px 0px;
}

#social-icons {
    padding-left: 30px;
}

/* Zoltan, I see that something is going wrong with the LinkedIn icon and also 
that the Twitter icon should be a smaller size. Hoping you can help with these things? */
#social-icons img {
    height: 21px;
    padding: 0 3px;
}

main {
    width: auto;
    background-color: white;
    font-size: 17px;
    padding: 0 15px 0 4px;
    flex: 1 1 0;
    max-width: 650px;
}

#homepage-content {
    margin: 140px 0 0 40px;
    padding: 0 10px;
    max-width: none;
}

#left-nav {
    width: 202px;
    /* Set limit on size in left-nav (approx. 6-9 links depending on character count)  */
    max-height: 475px;
    margin: 25px 5px 25px 35px;
    padding: 15px;
    font-family: "Source Sans Pro", "Myriad Pro", "Helvetica", sans-serif;
    font-size: 16px;
    padding-top: 20px;
    border-radius: 5px;
    z-index: 25;
    box-shadow: -9px 15px 16px 15px rgb(255 255 255 / 100%);
}

#left-nav > ul, #left-nav > p {
    padding: 0;
}

#left-nav a:link {
    color: #38518E;
    font-weight: 500;
}

#left-nav a:hover {
    box-shadow: inset 0 -1px 0; 
}

.left-menu-title {
    font-family: "Kanit", "Source Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 17px;
    margin: -5px 0 -10px 0;
    color: #38518e;
}

#left-nav:empty {
    background-color: white;
}

#left-nav > ul {
    list-style-type: none;
}

#left-nav li {
    padding: 4px 0 5px;
    margin: 0;
    overflow: hidden;
    border-top: 1px solid #657279;
}

#left-nav li:first-of-type {
    border-top: none;
    padding-top: 0;
}

#scrl-btn {
  display: block; 
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 115px;
  z-index: 20; /* Make sure it is covered by footer and left-nav and header but nothing else  */
  border-radius: 30px;
  border: none; 
  outline: none; 
  background-color: #38518E;
  color: white;
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; 
  font-size: 18px;
  line-height: 1.6em;
  transition: opacity 0.4s;
}

#scrl-btn:hover, #scrl-btn:focus {
  background-color: #FFE2A1;
  color: #38518E;
}

h1, h2, h3 {
    font-family: "Source Sans Pro", "Kanit", "Myriad Pro", sans-serif;
    line-height: 1em;
}

h1, h2 {
    color: #38518e;
}

h1 {
    font-size: 2.6rem;
    font-weight: bold;
}

h2 {
    font-size: 24px;
}

h3 {
    color: #A3343D;
    font-size: 17px;
} 

h4 {
    font-weight: bold;
    color: #6f6d70;
    font-size: 17px;
}

p {
    min-width: 180px;
}

ul {
    padding-left: 15px;
    list-style-type: none; /* Remove default bullets */
}

.regular-bullet-list li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #657279; /* Change the color */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space  */
    margin-left: -1em; /* Also needed for space */
}

a {
    font-weight: bold;    
}

a:link {
    color: #1683bb;
    text-decoration: none;
}

a:hover, a:focus {
    color: #CC4C27;
    box-shadow: inset 0 -2px 0;
}

a:visited {
    color: #388874;
}

.giant-emphasis {
    font-size: 60px;
    color: #385191; 
    font-family: "Source Sans Pro", "Lato", sans-serif;
    font-weight: 700;
    margin: 0.25em auto 0.8em;
    line-height: 1.15;
    max-width: 100%;
}

.lesser-emphasis {
    font-size: 20px;
    color: #385191;
    font-family: "Source Sans Pro", "Lato", sans-serif;
    font-weight: 600;
    margin: 0 auto 0.6em 0;
    line-height: 1.1;
}

.lesser-emphasis a {
    box-shadow: inset 0 -1px 0;
}

.lesser-emphasis a:hover, .lesser-emphasis a:focus {
    box-shadow: none;
}

.centered-container {
    position: absolute;
    left: 270px;
    height: 54px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#container {
    margin: 0 0 -50px 0px;
    padding-bottom: 100px;
    padding-bottom: 100px;
}

#homepage-sub-container {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    max-width: 1500px;
    padding-right: 30px;
}

.home-text {
    max-width: 650px;
}

.home-text > p {
    font-size: 18px;
    margin: 0 0 18px 0;
    max-width: 650px;
}

.box {
    border: none; 
    border-radius: 5px;
    background: #A9CDD8;
    font-size: 15px;
    margin: 30px;
}

.box:last-child {
    margin-right: 0;
}

.box:first-child {
    margin-left: 0;
}

.box a {
    color: inherit;
    box-shadow: inset 0 -2px 0;
    font-weight: 500;
}

.box a:hover, .box a:focus {
    color: #CC4C27;
    box-shadow: none;
}

.box-title {
    margin: 0;
    background: #A9CDD8;
    padding: 3px 5px;
    border-radius: 5px 5px 0 0;
    color:  #385191;
    font-size: 18px;
    font-weight: 500;
    font-family: "Kanit", "Source Sans Pro", "Myriad Pro", sans-serif;
    text-align: center;
}

.box-text {
    background-color: #385191;
    align-self: stretch;
    border-radius: 5px;
    color: aliceblue;
}

.box-text a:hover, .box-text a:focus {
    color: #FED107;
}

.feature-box {
    max-width: 650px;
    margin: 30px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.feature-box img {
    max-width: 100%;
    text-align: center;
    display: block;
}

.feature-box p {
    padding: 15px;
    margin: 0;
    color: aliceblue;
}

#prime-partner-feature {
    border: 2px solid #38518e;
    background: white;
    margin: 15px 0;
}

#prime-partner-feature > .box-text {
    border-radius: 0 4px 4px 0;
}

#prime-partner-logo {
    max-width: 150px;
    margin: 16px 10px;
}

#top-task-boxes {
    font-family: "Kanit", "Source Sans Pro", "Myriad Pro", sans-serif;
    display: flex;
    flex-flow: column nowrap;
    flex: 1 3 0;
    min-width: 175px;
    align-items: stretch;
    max-width: 275px;
    justify-content: space-between;
    line-height: 1.1em;
}

.img-caption {
    flex-flow: column nowrap;
    max-width: 300px; 
    float: right;
    margin: 10px 0 10px 10px;
    background: #38518e;
}

.img-caption > .box-text {
    border-radius: 0 0 4px 4px;
}

.img-caption > p {
    padding-top: 0;
}

.img-caption > img {
    border-radius: 5px 5px 0 0;
}

.news-flash {
    max-width: 921px;
    background-image: linear-gradient(to right, #CC4C27, #A3343D);
}

.news-flash > h2 {
    color: white;
    margin: 15px;
}

.news-flash > p {
    max-width: 100%;
}

.top-task {
    color: #38518E;
    background-color: #FFE2A1;
    text-align: center;
    padding: 0 0 7px;
    flex: 1 1 0px;
    text-align: center;
}

.top-task:first-child, .top-task:last-child {
    margin: 0 30px;
}

.top-task img {
    width: 100%;
    padding: 0;
    border-radius: 5px 5px 0 0;
}

.top-task a {
    box-shadow: none;
    font-weight: 800;
}

/* Zoltan, are you able to make the entire top-task box including photos and background color into clickable links just like the text? */
.top-task:hover, .top-task:focus {
    background-color: #38518E;
    color: white;
    box-shadow: inset 0 -2px 0;
}

.top-task a:hover, .top-task a:focus {
    color: white;
}

footer {
    position: relative;
    bottom: 0;
    font-size: 12px;
    font-family: "Source Sans Pro", "Lato", sans-serif;
    margin:  0 0;
    line-height: 1;
    color: #ffffff;
    background: #385183;
    padding: 10px 20px;
    z-index: 30;
    width: 100vw;
    box-shadow: 0px 0px 16px 25px rgb(255 255 255 / 100%);
}

#footer-logo {
    padding-left: 18px;
    margin-bottom: -12px;
}

footer p {
    font-size: 13px;
    max-width: 100%;
    padding-left: 33px;
    margin-bottom: 15px;
    line-height: 1.3;
}

footer a:link {
    color: #fff;
    box-shadow: inset 0 -1px 0;
    font-weight: 800;
}

footer a:visited {
    color: #fff; 
}

footer a:hover, footer a:focus {
    color: #FFE2A1;
    box-shadow: none;
}

footer em {
    font-style: normal;
    font-size: 14px;
}

#web-dev {
    font-size: 10px;
}

.col-sm-12 {
    padding: 20px;
    width: 100%;
    margin: auto;
    font-size: 11px;
    font-family: "Lato", sans-serif;
    margin: 0;
    line-height: 1;
    background-color: #edf6f7;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    } 
    100% {
        opacity: 0;
    }
}

@media only screen and (max-width: 544px) {
    
    .feature-box {
        flex-flow: column nowrap;
    }
    
    #prime-partner-feature > .box-text {
        border-radius: 0 0 4px 4px;
    }
    
    #top-task-boxes {
        flex-flow: column nowrap;
        align-items: stretch;
        min-width: 100%;
    }
    
    .top-task {
        margin: 15px 0;
    }
    
    .top-task:first-child, .top-task:last-child {
        margin: 25px 0;
    }
}

@media only screen and (max-width: 590px) {
    #scrl-btn {
        left: 50%; 
        top: auto;
        bottom: 15%;
        transform: translateX(-50%);
    }
    
    #left-nav {
        width: 100%;
    }
    
    main {
        margin-left: 46px;        
    }
}

@media only screen and (min-width: 768px) {
    .col-sm-6 {
        width: 50%;
    }
    
    .col-sm-6 {
        float: left;
        margin: 15px;
    }
}

@media only screen and (max-width: 780px) {
    .tagline {
        position: relative;
        top: auto;
        right: auto;
        left: 11px;
        top: -7px;
    }
}

@media only screen and (max-width: 850px) {
    .img-caption {
        max-width: none;
        float: none;
        margin: auto;
    }
}

@media only screen and (max-width: 1023px) {
    #homepage-sub-container {
        flex-flow: column nowrap;
        justify-content: space-between;
    }
    
    #home-text {
        flex-flow: column nowrap;   
    }
}

@media only screen and (max-width: 1023px) {

    .navigation {
        display: none;
        /* Use a hamburger button like in the test site for the top menu. 
        Zoltan, I designed with 1114px as the breakpoint so the menu never ends up on two lines. 
        Also, I know "display:none" is not correct here. I didn't bother to code this version of the menu, since it's so similar to your test site. */ 
    }
    
    .centered-container {
        right: 20px;
        left: auto;
    }
    
    #hamburger-menu {
        display: inline-block;
        /* The hamburger menu icon may not be the best, isn't functional, and is in the wrong place; I just wanted to put something there to demonstrate that there would be a hamburger menu in mobile */
    }
    
    #site-title {
        display: none;
    }
    
    .full-size {
        max-height: 43px;
    }
    
    #wistaf-logo {
        max-height: 43px;
    }

    header {
        height: 43px;
    }
}

@media only screen and (min-width: 545px) and (max-width: 1023px) {
    
    #top-task-boxes {
        flex-flow: row nowrap;
        max-width: 650px;
        align-items: stretch;
    }
    
    .top-task {
        margin: 30px 15px;
        max-width: 260px;
    }
    
    .top-task:first-child, .top-task:last-child {
        margin: auto 0;
    }
    
    .feature-text {
        margin: 0;
        max-width: 500px;
    }
    
    .feature-box-title {
        margin: 0;
    }
    
    .feature-box img {
        max-width: 100%;
        text-align: center;
        margin: auto;
        display: block;
        margin: auto 16px;
    }
}

@media only screen and (min-width: 1023px) {
    #homepage-sub-container > .feature-box {
        margin: -200px 0 0;  
    }
    
    #top-task-boxes {
        margin-left: 30px;
    }
}

/* For accessibility */
@media (prefers-reduced-motion: reduce) {
    #wistaf-logo {
        transition-duration: 0s;
        transition-property: none;
    }
}
