body {
    background: #fff;
    color: #2f3f3f;
    font-family: "Newsreader", serif;
    font-weight: 500;
    letter-spacing: -0.2px;
    width: 100vw;
    line-height: 1.7em;
    margin: 80px 0 0;
}

header {
    color: #f0f0f0;
    background: #0B73B1; /* #0B74B9; /  #1683bb; / #edf6f7 - light highlight from annual report - it's too light /  #307284 is the color in one version of our logo that I found in our shared drive */
    width: 100vw;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 10;
    height: 90px;
    padding: 5px;
    margin: 0;
    box-shadow: 0px 0px 10px 10px rgb(33 33 99 / 20%);
    position: fixed;
    top: 0;
}

.shrunk {
    height: 43px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

#wistaf-logo {
    float: left;
    position: relative;
    /*top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);*/
}

.full-size {
/*    max-height: 150px;
    margin: 0 38px;
    height: auto; */
    max-height: 90px;
    margin: 0 28px;
    height: auto;
}

.minimized {
    max-height: 90px;
    margin: 0 28px;
    height: auto;
}

.shrunk #site-title {
    display: none;
}

#site-title {
    /*max-width: 100%;
    min-height: 90%;*/
    font-size: 50px;
    font-family: "Myriad Pro", sans-serif;
    font-weight: 800;
    letter-spacing: -0.0px;
    padding: 22px 0 0 154px;/*
    text-align: center;
     transform: translateY(-50%);
    align-self: center 
    vertical-align: middle;
    color: #2f3f3f;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;*/
}

nav {
    font-family: "Myriad Pro", "Helvetica", sans-serif;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1;
   /* top: 50%;
    position: absolute;
}

.shrunk nav {
    position: static;
    top: 50%;
/*    -ms-transform: translateY(-50%);
    transform: translateY(-50%);*/
}

nav > ul > li {
    display: inline-block;
    position: relative;
    margin: 0 6px 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
}

/*nav > ul > li:first-of-type {
    margin-left: 0;
}*/

nav > ul > li:last-of-type {
    margin-right: 0;
}

#page-content-container {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
    gap: 15px;
    margin: 100px 10px 20px 0px;
}

#social-icons {
    text-align: center;
}

#social-icons img {
    width: 25px;
    padding: 0 3px;
}

main {
    width: auto;
    background-color: white;
    font-size: 17px;
    /*padding: 50px;
/*    margin-left: 110px;*/ 
    flex: 1 1 0;
    /*163px;
    /*box-shadow: 0px 0px 6px 6px rgb(ff ff ff / 20%);*/
}

#homepage-content {
    margin: 140px 0 0 240px;
}

#left-nav {
    /*min-width: 48px;
    max-width: 200px;*/
    width: 200px;
    padding: 55px 15px 0 15px;
    font-family: "Lato", "Myriad Pro", "Helvetica", sans-serif;
    font-size: 15px;
    padding-top: 20px;
}

#left-nav > ul, #left-nav > p {
    margin: 0;
    padding: 0;
}

.left-menu-title {
    font-weight: 600;
    background-color: #edf6f7;
    color: #595f59; /* #d68645; #0B74B2;*/
}

#left-nav > ul {
    list-style-type: none;
}

#left-nav li {
    padding: 4px 0 5px;
    margin: 0;
    overflow: hidden;
    border-top: 1px solid #657279;
}

#left-nav li:first-of-type {
    border-top: none;
}

#left-nav a {
    font-weight: 500;
}

#scrl-btn {
  display: block; 
  opacity: 0;
  position: fixed;
  bottom: 20px;
  left: 90px; 
  z-index: 99; /* Make sure it does not overlap */
  border-radius: 30px;
  border: none; 
  outline: none; 
  background-color: #0B74B2;
  color: white;
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; 
  font-size: 18px;
  line-height: 1.6em;
  /*animation: fadeIn 0.6s;
  animation: fadeOut 0.6s; */
  transition: opacity 0.4s;
}

#scrl-btn:hover {
  background-color: #F0C169;
}

h1, h2, h3 {
    font-family: "Lato", "Myriad Pro", sans-serif;
    line-height: 1em;
}

h1, h2 {
    color: #1683bb;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 24px;
}

h3 {
    color: #d68645;
    font-size: 17px;
} 

h4 {
    font-weight: bold;
    color: #6f6d70;
    font-size: 17px;
}

p {
    max-width: 650px;
    min-width: 180px;
}

ul {
    padding-left: 15px;
    list-style-type: none; /* Remove default bullets */
}

ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #657279; /* Change the color */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space  */
    margin-left: -1em; /* Also needed for space */
}

a {
    font-weight: 800    
}

a:link {
    color: #1683bb;
    text-decoration: none;
}

a:visited {
    color: #d68645;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.giant-emphasis {
    font-size: 52px;
    /* color: #1683bb; */
    color: #0B73B1;
    font-family: "Lato", serif;
    font-weight: 600;
    margin: 0.25em auto 0.8em;
    line-height: 1.15;
    max-width: 100%;
}

.lesser-emphasis {
    font-size: 20px;
    color: #0B73B1;
    font-family: "Lato", serif;
    font-weight: 600;
    margin: 0 auto 0.6em 0;
    line-height: 1.1;
    /*max-width: 100%;*/
}

.lesser-emphasis a {
    text-decoration: underline;
}

#home-container {
    margin: 0 0 -50px -80px;
    padding-bottom: 100px;
    background-image: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0.7), rgba(255,255,255,0));
    z-index: 2;
    position: relative;
}

.centered-container {
    /*display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;*/
}

#home-image {
    z-index: 1;
    position: fixed;
    right: 80px;
    top: 160px;
/*    width: 40%;*/
    max-width: 50%;
    opacity: 50%; 
}

.feature-text {
    font-size: 18px;
}

footer {
    /*background-color: #d68645;*/
    position: relative;
    bottom: 0;
    font-size: 11px;
    font-family: "Lato", sans-serif;
    margin:  0 0;
    line-height: 1;
    color: #0B73B1 /*#2f3f3f*/ ;
    background: #edf6f7;
        /* #df9050 /* ecd184 /* dfe0e18 / e0e0e0 */ ;
    padding: 10px 20px;
    z-index: 10;
    width: 100vw;
    box-shadow: 0px 0px 16px 10px rgb(255 255 255 / 100%);
}

footer p {
    font-size: 13px;
    text-align: center;
    max-width: 100%;
    margin-bottom: 15px;
    line-height: 1.3;
}

footer h2 {
    color: #d68645;
    text-align: center;
    margin-bottom: 0;
}

footer a {
    text-decoration: none;
    font-weight: 800;
}

footer a:visited {
    color: #0B73B1;
}

footer em {
    font-style: normal;
    /*color: #d68645;*/
    font-size: 14px;
}

#web-dev {
    font-size: 9px;
}

.col-sm-12 {
    padding: 20px;
    width: 100%;
    margin: auto;
    font-size: 11px;
    font-family: "Lato", sans-serif;
    margin: 0;
    line-height: 1;
    background-color: #edf6f7;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    } 
    100% {
        opacity: 0;
    }
}

@media only screen and (max-width: 1047px) {
    #home-container {
        background-image: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0.9), rgba(255,255,255,0));
    }
}

@media only screen and (max-width: 1023px) {
    nav > ul {
        display: none;
        /* Use a hamburger button like in the test site for the top menu. I designed with 1023px as the appropriate breakpoint so the menu never ends up on two lines. 
        I know "display:none" is not correct here. I didn't bother to code this version of the menu, since it's just like the test site. */ 
    }
    
    #home-image {
        display: none;
    }
    
    #site-title {
        display: none;
    }
    
    header {
        height: 43px;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
    }
}

@media only screen and (min-width: 768px) {
    .col-sm-6 {
        width: 50%;
    }
    
    .col-sm-6 {
        float: left;
        margin: 15px;
    }
}

@media only screen and (min-width: 1394px) {
    #home-image {
        right: auto;
        left: 750px;
    }
}

@media (prefers-reduced-motion: reduce) {
    header {
        transition-duration: 0;
        transition-property: none;
    
    }
}
