body {
    background: #fff;
    color: #2f3f3f;
    font-family: "Noto Serif", "Newsreader", serif;
    /*If we stick with 400, delete this line bc 400 is the default font-weight: 400;*/
    letter-spacing: -0.2px;
    width: 100vw;
    line-height: 1.7em;
    margin: 80px 0 0;
}

header {
    color: #385191;
    background:  #fff; /* #0970AE; */
    width: 100vw;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 30;
    height: 90px;
    padding: 5px;
    margin: 0;
    box-shadow: 0px 0px 8px 2px rgb(255 226 161 / 40%); /* rgb(241 194 106 / 50%); /* rgb(254 225 130 / 30%); /* 0px 0px 10px 3px rgb(33 33 99 / 20%);/* 0px 0px 10px 10px rgb(33 33 99 / 20%); /* 0px 0px 15px 4px rgb(9 112 174 / 30%); /* 0px 0px 15px 4px rgb(200 160 36 / 30%); /*
    /*border-bottom: 2px solid #fee182 /* #fdc424 */;
    position: fixed;
    top: 0;
}

#hamburger-menu {
    visibility: hidden;
    /* This hamburger icon is not appearing in the right place, but I know
       that you know how to make it work */
}

#hamburger-menu > img {
    width: 30px;
}

.shrunk {
    height: 43px;
}

#wistaf-logo {
    float: left;
    position: relative;
    content: url("img/wistaf-logo-horiz.jpg");
    max-height: 90px;
    /*top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);*/
}

.full-size {
/*    max-height: 150px;
    margin: 0 38px;
    height: auto; */
    max-height: 90px;
    margin: 0 28px;
    height: auto;
}

.minimized {
    display: none;
}

.shrunk #site-title {
    display: none;
}

#site-title {
    /*max-width: 100%;
    min-height: 90%;*/
    font-size: 50px;
    font-family: "Source Sans Pro", "Myriad Pro", "Source Sans Pro Pro", sans-serif;
    font-weight: SemiBold;
    letter-spacing: -0.0px;
    padding: 22px 0 0 154px;/*
    text-align: center;
     transform: translateY(-50%);
    align-self: center 
    vertical-align: middle;
    color: #2f3f3f;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;*/
}

nav {
    font-family: "Kanit", "Source Sans Pro", "Noto Serif", sans-serif; /*"Kanit"*/
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 1;
}

nav li {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.05rem;
    font-weight: bolder;
}

nav li::before {
    content: none;  /* Override other ul settings */
    width: auto; /* Also needed for space  */
    margin-left: auto; /* Also needed for space */
}

nav li:not(:last-child):after {
    color: lightgrey;
    content: "\a0\a0\a0\a0\a0\a0\a0\a0";
} 

nav li:first-of-type {
    margin-left: 8px;
}

nav a:link {
    color: #38518E;
    font-weight: 300;
}

nav a:hover {
    text-decoration: none;
    color: #CC4C27;
    /* My menu code is not set up right, the way yours is on the test site, but on hover could we have the background color turn to #2a99cb */
}

nav a:visited {
    color: #38518E;
}

#donate {
    display: inline;
    background-color: #FFE2A1;
   /* border: 1px solid #A3343D;
*/    border-radius: 11px;
    padding: 1px 8px 3px 10px;
    color: #A3343D;
    font-family: "Kanit", "Source Sans Pro";
    font-size: 1.4rem;
    margin-left: 15px;
}

#donate a:hover {
    text-decoration: underline;
}

#page-content-container {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
    gap: 15px;
    margin: 100px 10px 20px 0px;
}

#social-icons {
    padding-left: 30px;
}

#social-icons img {
    width: 25px;
    padding: 0 3px;
}

main {
    width: auto;
    background-color: white;
    font-size: 17px;
    padding: 0 15px;
    /*padding: 50px;
/*    margin-left: 110px;*/ 
    flex: 1 1 0;
    max-width: 650px;
    /*163px;
    /*box-shadow: 0px 0px 6px 6px rgb(ff ff ff / 20%);*/
}

#homepage-content {
    margin: 140px 0 0 40px;
    padding: 0 10px;
    max-width: none;
}

#left-nav {
    background-color: #FFE2A1; /*#f4f4f4;*/
    width: 225px;
    /* Set limit on size and number of links in left-nav */
    max-height: 400px;
    margin: 25px 5px 25px 0;
    padding: 15px;
    font-family: "Source Sans Pro", "Myriad Pro", "Helvetica", sans-serif;
    font-size: 15px;
    padding-top: 20px;
    border-radius: 5px;
    z-index: 25;
    box-shadow: 0px -1px 16px 25px rgb(255 255 255 / 100%);
}

#left-nav > ul, #left-nav > p {
    padding: 0;
}

.left-menu-title {
    font-family: "Kanit", "Source Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 17px;
    margin: -5px 0 -10px 0;
    color: #38518E; /* #595f59;  #d68645; */
}

#left-nav:empty {
    background-color: white;
    /*width: 100px;*/
}

#left-nav > ul {
    list-style-type: none;
}

#left-nav li {
    padding: 4px 0 5px;
    margin: 0;
    overflow: hidden;
    border-top: 1px solid #657279;
}

#left-nav li:first-of-type {
    border-top: none;
}

#left-nav li:last-of-type {
    padding-bottom: 0;
}

#left-nav a:link {
    font-weight: 500;
}

#scrl-btn {
  display: block; 
  opacity: 0;
  position: fixed;
/*  left: 50%;
  transform: translateX(-50%);*/
  /* This didn't work in short windwos  bottom: 320px; */
  top: 50%;
  left: 115px;
  z-index: 20; /* Make sure it is covered by footer and left-nav and header but nothing else  */
  border-radius: 30px;
  border: none; 
  outline: none; 
  background-color: #38518E;
  color: white;
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; 
  font-size: 18px;
  line-height: 1.6em;
  /*animation: fadeIn 0.6s;
  animation: fadeOut 0.6s; */
  transition: opacity 0.4s;
}

#scrl-btn:hover {
  background-color: #FFE2A1;
  color: #38518E;
}

h1, h2, h3 {
    font-family: "Source Sans Pro", "Kanit", "Myriad Pro", sans-serif;
    line-height: 1em;
}

h1, h2 {
    color: #38518e;
}

h1 {
    font-size: 2.6rem;
    font-weight: 700;
}

h2 {
    font-size: 24px;
}

h3 {
    color: #A3343D;
    font-size: 17px;
} 

h4 {
    font-weight: bold;
    color: #6f6d70;
    font-size: 17px;
}

p {
    min-width: 180px;
}

ul {
    padding-left: 15px;
    list-style-type: none; /* Remove default bullets */
}

.regular-bullet-list li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #657279; /* Change the color */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space  */
    margin-left: -1em; /* Also needed for space */
}

a {
    font-weight: 800    
}

a:link {
    color: #1683bb;
    text-decoration: none;
}

a:visited {
    color: #385191;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.giant-emphasis {
    font-size: 52px;
    color: #385191; 
    /*color: #0B73B1; */
    font-family: "Source Sans Pro", "Lato", sans-serif;
    font-weight: 700; /*600;*/
    margin: 0.25em auto 0.8em;
    line-height: 1.15;
    max-width: 100%;
}

.lesser-emphasis {
    font-size: 20px;
    color: #385191;
    font-family: "Source Sans Pro", "Lato", sans-serif;
    font-weight: 600;
    margin: 0 auto 0.6em 0;
    line-height: 1.1;
    /*max-width: 100%;*/
}

.lesser-emphasis a {
    text-decoration: underline;
}

.centered-container {
    position: absolute;
    left: 270px;
    height: 54px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    /*display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;*/
}

#home-container {
    margin: 0 0 -50px 0px;
    padding-bottom: 100px;
    background-image: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,1), rgba(255,255,255,0.7), rgba(255,255,255,0));
    z-index: 2;
    position: relative;
}

#homepage-sub-container {
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    max-width: 985px;
}

.home-text {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

.home-text > p {
    font-size: 18px;
    margin: 0 30px 18px 0;
    max-width: 650px;
}

.home-text a:hover {
    color: #CC4C27;
}

.box {
    border: none; /* 1px solid #d68645; */
    border-radius: 5px;
    background: #BFB8A9;
    padding: 10px;
    font-size: 15px;
    margin: 40px 15px 30px;
}

.box:last-child {
    margin-right: 0;
}

.box:first-child {
    margin-left: 0;
}

.box a {
    color: inherit;
    text-decoration: underline;
    font-weight: 500;
}

.box a:hover {
    color: #CC4C27;
}

#news-flash {
    display: none;
    max-width: 985px; 
}

#news-flash > p {
    max-width: 100%;
}

.feature-box {
    max-width: 650px;
    margin: 30px 0 0;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.feature-text {
    background-color: #385191;
    align-self: stretch;
    border-radius: 0 5px 5px 0;
}

.feature-box-title {
    margin: 0;
    padding: 3px 5px;
    border-radius: 0 5px 0 0;
    color:  #fafafa; /* #d68645;  /*#fee79c;  */
    background-color: #1683bb; 
    /* color: #f6f6f6; */
    font-size: 18px;
    font-weight: 500;
    font-family: "Kanit", "Source Sans Pro", "Myriad Pro", sans-serif;
    text-align: center;
}

.feature-box-image {
    max-width: 150px;
    text-align: center;
    margin: 16px 10px;
    display: block;
}

.feature-box p {
    padding: 15px;
    margin: 0;
    color: aliceblue;
}

#top-task-boxes {
    font-family: "Kanit", "Source Sans Pro", "Myriad Pro", sans-serif;
    display: flex;
    flex-flow: row;
    max-width: 650px;
    justify-content: space-between;
    line-height: 1.1em;
}

#top-task-section {
    background: aliceblue;
    margin: 20px 0;
}

#top-task-section h2 {
    width: 100%;
}

.top-task {
    color: #38518E;
    text-align: center;
    padding: 0 0 7px;
    flex: 1 1 0px;
}

.top-task img {
    width: 100%;
    padding: 0;
    border-radius: 5px 5px 0 0;
}

.top-task a {
    text-decoration: none;
    font-weight: 800;
    margin: 7px;
}

footer {
    position: relative;
    bottom: 0;
    font-size: 12px;
    font-family: "Source Sans Pro", "Lato", sans-serif;
    margin:  0 0;
    line-height: 1;
    color: #ffffff;
    background: #385183;
    padding: 10px 20px;
    z-index: 30;
    width: 100vw;
    box-shadow: 0px 0px 16px 25px rgb(255 255 255 / 100%);
}

#footer-logo {
    padding-left: 18px;
    margin-bottom: -12px;
}

footer p {
    font-size: 13px;
    max-width: 100%;
    padding-left: 33px;
    margin-bottom: 15px;
    line-height: 1.3;
}

footer a:link {
    color: #fff; /*#A9CDD8;*/
    text-decoration: underline;
    font-weight: 800;
}

footer a:visited {
    color: #fff; /*#A9CDD8;*/
}

footer em {
    font-style: normal;
    font-size: 14px;
}

#web-dev {
    font-size: 10px;
}

.col-sm-12 {
    padding: 20px;
    width: 100%;
    margin: auto;
    font-size: 11px;
    font-family: "Lato", sans-serif;
    margin: 0;
    line-height: 1;
    background-color: #edf6f7;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    } 
    100% {
        opacity: 0;
    }
}

@media only screen and (max-width: 1114px) {

    nav > ul {
        display: none;
        /* Use a hamburger button like in the test site for the top menu. I designed with 1114px as the breakpoint so the menu never ends up on two lines. 
        I know "display:none" is not correct here. I didn't bother to code this version of the menu, since it's just like the test site. */ 
    }
    
    #hamburger-menu {
        visibility: visible;
        /* The hamburger menu icon may not be the best and isn't functional; I just wanted to put something there to demonstrate that there would be a hamburger menu in mobile */
    }
    
    #site-title {
        display: none;
    }
    
    header {
        height: 43px;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
    }
    
    #wistaf-logo {
        max-height: 43px;
    }
}

@media only screen and (max-width: 590px) {
    #scrl-btn {
        left: 50%; 
        top: auto;
        bottom: 15%;
        transform: translateX(-50%);
    }
    
    #left-nav {
        width: 100%;
    }
}

@media only screen and (max-width: 1069px) {
    #homepage-sub-container {
        flex-flow: column-reverse wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
}

@media only screen and (min-width: 545px) and (max-width: 1069px) {
    
    #top-task-boxes {
        flex-flow: row nowrap;
        width: auto;
    }
    
    .feature-text {
        margin: 0;
        max-width: 500px;
    }
    
    .feature-box-title {
        margin: 0;
    }
    
    .feature-box-image {
        max-width: 150px;
        text-align: center;
        margin: auto;
        display: block;
        margin: auto 16px;
    }

}

@media only screen and (min-width: 768px) {
    .col-sm-6 {
        width: 50%;
    }
    
    .col-sm-6 {
        float: left;
        margin: 15px;
    }
}

@media only screen and (max-width: 544px) {
    
    .feature-box {
        flex-flow: column;
    }
    
    #top-task-boxes {
        flex-flow: column;
        min-width: 320px;
        align-items: stretch;
    }
    
    .top-task {
        margin: 15px 0;
    }
}

@media (prefers-reduced-motion: reduce) {
    header {
        transition-duration: 0;
        transition-property: none;
    }
}
